header.pageId__header{
	width:100%;
	display: inline-flex;
	align-items: center;

	a.pageId__header_back{
		text-decoration: none;
		width:10%;
	}

	div.pageId__header_tokenInputWrap{
		width:90%;
		display:flex;
		justify-content: flex-end;

		input.pageId__header_tokenInputWrap_input{
			font-family: 'nsp-lite';
			width:95%;
			padding:1rem .5rem;
			border:none;

			&:focus{
				font-weight: bold;
			}
		}
	}
}

div.pageId__table{
	width:100%;
	display:flex;
	flex-direction: column;

	div.pageId__table_item{
		width:95%;
		padding:0.5rem 2.5%;
		display: inline-flex;
	
		&:not(:last-child){
			border-bottom:1px solid rgba(67,67,67,.3);
		}
		
		&:nth-child(even){
			background: rgba(0,0,0, .07);
		} 
		
		div.pageId__table_item_nameWrap{
			flex:4.5;

			span.pageId__table_item_nameWrap_name{
				font-weight: bold;
			}
		}

		div.pageId__table_item_textWrap{
			flex:6.5;
			display:flex;
			flex-direction:column;
			
			span.pageId__table_item_textWrap_text{
				font-family: 'nsp-lite';
			}
		}

		div.pageId__table_item_copyText{
			flex:1;
			display:flex;
			justify-content:flex-end;
			align-items:flex-end;

			span.pageId__table_item_copyText_text{
				font-family: 'nsp-lite';
				font-size: 0.77rem;
				color:#0091ea;
				letter-spacing: 0.03rem;

				&:hover{
					cursor:pointer;
					text-decoration:underline;
				}
			}
		}
	}
}