

div.home__container{
	width:100%;
	display:inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	
	.row{
		margin: 0 5%;
	}

	div.home__container_inputWrap{
		width:40%;

		input.home__container_inputWrap_input{
			font-family: 'nsp-lite';
			width:100%;
			border:none;
			padding:1rem .5rem;
			box-shadow:0 0 5px 1px grey;

			&:focus{
				font-weight: bold;
			}
		}
	}
}
