*{
	padding:0;
	margin:0;
}

html{
	width:100vw;
	height:100vh;
	overflow: hidden;
}

body{
	width:100%;
	height:100%;
	position: relative;
}

#platform{
	width:400px;
	height:400px;
	
	background: #f0f0f0;
	box-shadow: 0 0 5px 0px grey;
	border-radius: 4px;

	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

#cube{
	width:25px;
	height: 25px;

	background: #7f7f7f;
	border-radius:100%;
	box-shadow: 0 0 1px 0px black;

	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	transition: all 0.9s ease, transform 0.4s ease;
}

#cube:before{
	content: '';
	display: block;
	width:30%;
	height: 30%;
	background: #64dd17;
	top:0;
	left: 0;
	position: absolute;
	border-radius:100%;
}


#cube:after{
	content: '';
	display: block;
	width:30%;
	height: 30%;
	background: #64dd17;
	top:0;
	right: 0;
	position: absolute;
	border-radius:100%;
}
